<template>
    <v-container id="about" class="secondary" fluid>
        <v-layout align-start justify-center text-xs-center row wrap>
            <v-flex pa-3 xs12>
                <div class="section-title">
                    About SheHacks
                </div>
            </v-flex>
            <v-flex xs12 sm10 m6>
                <div class="description" :class="$vuetify.breakpoint.smAndDown ? 'mobile' : ''">
                    The AWC at Virginia Tech believes it is important to change the way women are perceived in the technical field. 
                    Women are underrepresented in computing fields, so we as an organization want to create an event that focuses on welcoming each 
                    intelligent and brilliant female. Through a unique hackathon experience, we plan to create an inclusive environment for women who
                    have the skills and creativity to be a part of the fast and growing technical world.
                </div>
                <div class="description" :class="$vuetify.breakpoint.smAndDown ? 'mobile' : ''">
                    Our Hackathon hopes to attract over 100 diverse student-innovators from some of the best universities across the nation, 
                    for a 24-hour event, where women will be able to create contemporary and visionary hardware and software hacks in a dynamic environment. 
                </div>
            </v-flex>
            <v-flex xs12 ma-5>
                <v-btn color="blue-grey" large>See Last Year's Event</v-btn>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
  export default {
    data: () => ({
    })
  }
</script>

<style scoped>
    #about {
        min-height: 100vh;
        width: 100vw;
    }

    .description {
        margin: 10px;
        font-size: 2.5vmin;
    }

    .description.mobile {
        margin: 10px;
        font-size: 3.5vmin;
    }
    
    .subtitle {
        margin-top: 25px;
        font-size: 1.8em;
    }
</style>
