<template>
  <v-container id="footer" fluid>
    <v-layout text-xs-center row wrap>
      <v-flex justify-center xs12>
          <a :href="social.link" target="_blank" v-for="social in socials" :key="social.name">  
            <v-img  :src="require('../assets/'+social.name+'-logo.png')"  height="24px" width="24px" class="logo" />
          </a>
      </v-flex>   
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    data: () => ({
        socials: [
            {name: 'facebook', link: 'https://www.facebook.com/events/2179697362247883/'},
            {name: 'vthacks', link: 'https://vthacks.com'}
        ]
    })
  }
</script>

<style>
    #footer {
        background-color: #212121;
        height: 8vh;
        min-height: 60px;
        padding: 10px;
    }

    .logo {
        margin: auto;
        display: inline-block;
        margin: 10px;
    }
</style>
