<template>
  <v-container id="hero" app fluid>
    <v-layout justify-center text-xs-center fill-height row wrap>
      <v-flex xs12>
        <v-img id="logo" class="justify-center" :src="require('../assets/shehacks_transp.png')" height="30vmin" contain/>
        <!-- <div class="logo-1 primary--text">SheHacks<span class="logo-2 secondary--text">VT</span></div> -->
      </v-flex>
      <v-flex align-start xs12>
        <div class="flavor-text" :class="$vuetify.breakpoint.smAndDown ? 'mobile' : ''">Virginia Tech's All Female Hackathon</div>
      </v-flex>
      <v-flex align-end xs12>
        <v-btn color="secondary" large @click="scrollToRegister()">Register</v-btn>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    data: () => ({
    }),
    methods: {
      scrollToRegister: function() {
        for (var i = 0; i < this.$parent.$children.length; i++) {
          if (this.$parent.$children[i].$options._componentTag === 'Registration'){
            this.$vuetify.goTo(this.$parent.$children[i].$el.offsetTop, {})
            break
          }
        }
      }
    }
  }
</script>

<style scoped>
  #hero {
    background:
      linear-gradient(
        175deg,
        rgb(160, 206, 211, 0.65), 
        rgb(124, 14, 55, 0.65)
      ),
      url(https://www.wmjordan.com/wp-content/uploads/2017/11/VT_Academic_Classroom_Gallery3.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    font-family: 'Comfortaa', script;
    height: 100vh;
  }

  img#logo {
    width: 30vmin;
  }

  .flavor-text {
    font-size: 8vmin;
  }

  .flavor-text.mobile {
    font-size: 10vmin;
  }
</style>
