<template>
  <div>
      <Hero ref="Hero"/>
      <About ref="About"/>
      <Registration ref="Registration"/>
      <Sponsorship ref="Sponsorship"/>
      <Organizers ref="Organizers"/> 
      <Footer/>
  </div>
</template>

<script>
import Hero from './Hero'
import About from './About'
import Registration from './Registration'
import Sponsorship from './Sponsorship'
import Organizers from './Organizers'
import Footer from './Footer'

export default {
  components: {
    Hero,
    Registration,
    Sponsorship,
    Organizers,
    About,
    Footer
  },
  data () {
    return {
      options: {

      }
    }
  }
}
</script>
