<template>
  <v-container id="organizers" class="secondary" fluid>
    <v-layout align-start justify-center row wrap>
      <v-flex  text-xs-center pa-3 xs12>
          <div class="section-title" style="margin-top: -30px; margin-bottom: 20px;">
              Meet the Team
          </div>
      </v-flex>
      <v-flex v-for="organizer in organizers" :key="organizer.name" xs6 md4 lg3>
        <v-card class="organizer card grey darken-4 fill-height" style="min-height: 500px;" :class="organizer.color">
          <v-card-media :src="require('../assets/team/'+organizer.img)" width="100%" height="320px"></v-card-media>
          <v-card-title>
            <div class="organizer name headline">{{organizer.name}}</div>
            <div class="organizer position">{{organizer.position}}</div>
            <div class="organizer major">Major in {{organizer.major}}</div>
          </v-card-title>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    data: () => ({
      organizers: [
        {
          name: 'Sasha Reynolds',
          position: 'Event Coordinator (Big Cheese)',
          major: 'Computational and Systems Neuroscience',
          color: '',
          img: 'sasha.jpg'
        },
        {
          name: 'Chris Blair',
          position: 'Logistics Coordinator',
          major: 'Computer Science',
          color: '',
          img: 'chris.jpg'
        },
        {
          name: 'Leah Triplett',
          position: 'Advisor',
          major: 'Computer Science',
          color: '',
          img: 'leah.jpg'
        },
        {
          name: 'Jannat Asim',
          position: 'Design and UX Lead ',
          major: 'Industrial and Systems Engineering',
          color: '',
          img: 'jannat.jpg'
        },
        {
          name: 'Camellia Pastore',
          position: 'Graphic Designer and Meal Coordinator',
          major: 'Computer Science',
          color: '',
          img: 'camellia.jpg'
        },
        {
          name: 'Hamsa Mani',
          position: 'Public Relations Lead',
          major: 'Computer Science and CMDA',
          color: '',
          img: 'hamsa.jpg'
        },
        {
          name: 'Abby Perkins',
          position: 'Website Designer',
          major: 'Computer Science',
          color: '',
          img: 'abby.jpg'
        },
        {
          name: 'Steven Roberts',
          position: 'Website Developer',
          major: 'Computer Science and Computer Engineering',
          color: '',
          img: 'steven.png'
        }
      ]
    })
  }
</script>

<style>
    #organizers {
        min-height: 100vh;
        width: 100vw;
        padding: 80px;
    }

    .organizer.card {
      margin: 10px;
    }

    .organizer.name, .organizer.position {
      width: 100%;
    }

    .organizer.major {
      font-size: 12px;
    }

    .organizer.position {
      font-weight: 300;
    }
</style>
