<template>
    <v-container id="registration" class="grey darken-4" fluid>
        <v-layout class="hidden-sm-and-down" align-center justify-center text-xs-center row wrap>
            <v-flex pa-3 xs12>
                <div class="section-title">
                    Register
                </div>
            </v-flex>
            <v-flex pa-1 xs12 md6 lg4>
                <v-card class="primary flexcard" height="70vh" elevation-5 light>
                    <v-card-media :src="require('../assets/hackers.jpg')" height="40vh"/>
                    <v-card-text class="grow">
                        The core of our hackathon is in the Hackers. Sign up through this route if you want
                        to come join us in the hacking.
                    </v-card-text>
                    <v-card-actions class="justify-center align-end">
                        <v-btn href="https://goo.gl/forms/5IS6kYHu8fTRMfME2" target="_blank" color="blue darken-1" large>Hacker</v-btn>
                    </v-card-actions>
                </v-card>
            </v-flex>
            <v-flex pa-1 xs12 md6 lg4>
                <v-card class="secondary flexcard" :height="`70vh`" elevation-5>
                    <v-card-media :src="require('../assets/volunteers.2.jpg')" height="45vh"/>
                    <v-card-text class="grow">
                        A hackathon doesn't run itself. We have a team of people who put this together every year but during the event
                        we need some people to help us serve food, help organize, and generally keep 
                        hackers working without interruptions
                    </v-card-text>
                    <v-card-actions class="justify-center align-end">
                        <v-btn href="https://goo.gl/forms/gtTSGvCs452MYSbo2" target="_blank" color="blue-grey darken-4" large> Volunteer </v-btn>
                    </v-card-actions>
                </v-card>
            </v-flex>
        </v-layout>
        <v-layout class="hidden-md-and-up" align-center justify-center text-xs-center row wrap>
            <v-flex pa-3 xs12>
                <div class="section-title">
                    Register
                </div>
            </v-flex>
            <v-flex pa-1 sm12>
                <div class="description mobile">The core of our hackathon is in the Hackers. Sign up through this route if you want
                to come join us in the hacking.</div>
                <v-btn color="red lighten-2" href="https://goo.gl/forms/5IS6kYHu8fTRMfME2" large>Hacker</v-btn>
            </v-flex>
            <div class="spacer"></div>
            <v-flex pa-1 xs12>
                <div class="description mobile">A hackathon doesn't run itself. We have a team of people who put this together every year but during the event
                we need some people to help us serve food, help organize, and generally keep 
                hackers working without interruptions</div>
                <v-btn color="blue darken-2" href="https://goo.gl/forms/gtTSGvCs452MYSbo2" large> Volunteer </v-btn>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
  export default {
    data: () => ({
    })
  }
</script>

<style scoped>
    #registration {
        min-height: 100vh;
        width: 100vw;
    }

    .flexcard {
        display: flex;
        flex-direction: column;
    }

    .description.mobile {
        font-family: 'Comfortaa', script;
        font-size: 1.2em;
        margin: 10px;
    }

    .spacer {
        height: 35vh;
    }
</style>
