<template>
    <v-container id="schedule" class="teal darken-4" fluid>
        <v-layout align-start justify-center text-xs-center row wrap>
            <v-flex pa-3 xs12>
                <div class="section-title">
                    Event Schedule
                </div>
            </v-flex>
            <v-flex xs12>
                <v-layout> 
                    <v-expansion-panel class="hidden-md-and-up mobile-schedule">
                        <v-expansion-panel-content class="expansion-panel" v-for="day in ['Friday', 'Saturday']" :key="day">
                            <div slot="header" style="margin-left: -20px;">{{day}}</div>
                            <div v-for="item in schedule" :key="item.event" class="schedule-item">
                                <div v-if="item.day === day">
                                    <div class="headline event" :class="item.event.includes('Workshop') ? 'workshop' : ''">{{item.event}}</div>
                                    <div class="subheading time">{{item.time.start}} <span v-if="item.time.end">- {{item.time.end}}</span></div>                                    
                                    <div class="body-2 description">{{item.description}}</div>
                                </div>
                            </div>
                        </v-expansion-panel-content>
                    </v-expansion-panel>
                    <v-flex v-for="day in ['Friday', 'Saturday']" :key="day" class="hidden-sm-and-down schedule-col" md6>                        
                        <div class="display-2 text-xs-left day">{{day}}</div>
                        <div class="text-xs-left">
                            <div v-for="item in schedule" :key="item.event" class="schedule-item">
                                <div v-if="item.day === day">
                                    <div class="display-1 event" :class="item.event.includes('Workshop') ? 'workshop' : ''">{{item.event}}</div>
                                    <div class="subheading time">{{item.time.start}} <span v-if="item.time.end">- {{item.time.end}}</span></div>                                    
                                    <div class="body-2 description">{{item.description}}</div>
                                </div>
                                <!-- <hr/> -->
                            </div>
                        </div>
                    </v-flex>
                </v-layout>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    // The schedule is tied into the page, so editing the object below will update it
    // Give every item a title (that's the `event`), day <'Friday', 'Saturday', ...>, and a start time at a minimum
    // The end time is optional
    export default {
        data: () => ({
            schedule: [
                {
                    event: 'Introduction',
                    description: '',
                    day: 'Friday',
                    time: {
                        start: '6:00 PM',
                        end: ''
                    }
                },
                {
                    event: 'Team Formation',
                    description: '',
                    day: 'Friday',
                    time: {
                        start: '6:30 PM',
                        end: ''
                    }
                },
                {
                    event: 'Dinner',
                    description: '',
                    day: 'Friday',
                    time: {
                        start: '7:00 PM',
                        end: ''
                    }
                },
                {
                    event: 'Start Coding',
                    description: '',
                    day: 'Friday',
                    time: {
                        start: '7:30 PM',
                        end: ''
                    }
                },
                {
                    event: 'Workshop 1: class Code( ) - Python',
                    description: '',
                    day: 'Friday',
                    time: {
                        start: '8:30 PM',
                        end: ''
                    }
                },
                {
                    event: 'Workshop 2: WillowTree - GitHub ',
                    description: '',
                    day: 'Friday',
                    time: {
                        start: '9:00 PM',
                        end: ''
                    }
                },
                {
                    event: 'Henna',
                    description: '',
                    day: 'Friday',
                    time: {
                        start: '10:00 PM',
                        end: ''
                    }
                },
                {
                    event: 'Cup Stacking',
                    description: '',
                    day: 'Friday',
                    time: {
                        start: '11:00 PM',
                        end: ''
                    }
                },
                {
                    event: 'Midnight Snack',
                    description: '',
                    day: 'Friday',
                    time: {
                        start: '12:00 AM',
                        end: ''
                    }
                },
                {
                    event: 'Coffee',
                    description: '',
                    day: 'Saturday',
                    time: {
                        start: '8:00 AM',
                        end: ''
                    }
                },
                {
                    event: 'Morning Yoga',
                    description: '',
                    day: 'Saturday',
                    time: {
                        start: '9:00 AM',
                        end: ''
                    }
                },
                {
                    event: 'Breakfast',
                    description: '',
                    day: 'Saturday',
                    time: {
                        start: '10:00 AM',
                        end: ''
                    }
                },
                {
                    event: 'Workshop 3: class Code( ) - Swift',
                    description: '',
                    day: 'Saturday',
                    time: {
                        start: '11:00 AM',
                        end: ''
                    }
                },
                {
                    event: 'Workshop 4: Mohammed Ali - How to Create a Business Online',
                    description: '',
                    day: 'Saturday',
                    time: {
                        start: '11:30 AM',
                        end: ''
                    }
                },
                {
                    event: 'Lunch',
                    description: '',
                    day: 'Saturday',
                    time: {
                        start: '1:00 PM',
                        end: ''
                    }
                },
                {
                    event: 'Workshop 5: Hack the Interview by Okta',
                    description: '',
                    day: 'Saturday',
                    time: {
                        start: '1:30 PM',
                        end: ''
                    }
                },
                {
                    event: 'Finish Coding',
                    description: '',
                    day: 'Saturday',
                    time: {
                        start: '4:30 PM',
                        end: ''
                    }
                },
                {
                    event: 'Presentations',
                    description: '',
                    day: 'Saturday',
                    time: {
                        start: '5:00 PM',
                        end: ''
                    }
                },
                {
                    event: 'Deliberation & Dinner',
                    description: '',
                    day: 'Saturday',
                    time: {
                        start: '5:30 PM',
                        end: ''
                    }
                },
                {
                    event: 'Winner Announcement',
                    description: '',
                    day: 'Saturday',
                    time: {
                        start: '6:00 PM',
                        end: ''
                    }
                },
                {
                    event: 'Closing Ceremony',
                    description: '',
                    day: 'Saturday',
                    time: {
                        start: '6:30 PM',
                        end: ''
                    }
                }
            ]
        }),
        computed: {

        }
    }
</script>

<style scoped>
    #schedule {
        min-height: 100vh;
        overflow: hidden;
    }
    
    .schedule-item {
        margin: 25px 5px;
    }

    .coming-soon {
        font-size: 2.2vmin;
        margin: 10px;
        margin-bottom: 50px;
    }

    .day {
        border-radius: 3px;
        padding: 3px;
    }

    .event {
        font-weight: 200;
    }

    .time {
        margin-top: -5px;
        margin-left: 1px;
        font-weight: 700;
    }

    .description {
        margin: 10px 0;
        font-weight: 400;
    }

    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #ccc;
        margin: 1em 0;
        padding: 0;
    }

    .workshop {
        background-color: rgba(0,191,165,0.2);
        border-radius: 3px;
        margin: 2px;
    }

    .schedule-col {
        margin-left: 50px;
        margin-right: 50px; 
    }

    .mobile-schedule {
        font-size: 6vw;
        font-family: 'Roboto', sans-serif;
    }

    .expansion-panel {
        background-color: rgba(0,0,0,0) !important;
    }

    .v-expansion-panel { 
        box-shadow: none !important;
        -webkit-box-shadow: none !important;
    }
    .theme--dark.v-expansion-panel .v-expansion-panel__container {
        border-top: none !important;
    }
</style>
