<template>
  <v-container id="sponsorship" class="teal darken-4" fluid>
    <v-layout align-start justify-center text-xs-center row wrap>
        <v-flex pa-3 xs12>
            <div class="section-title">
                Our Sponsors
            </div>
        </v-flex>
      <v-flex v-for="logo in sponsorLogos" :key="logo.name" ma-5 xs12 sm4>
          <v-img :src="require('../assets/sponsors/'+logo.img)" max-height="30vh" max-width="30vmax" style="margin: auto;"/>
      </v-flex>
      <v-flex xs12>
          <div class="hustle" :class="$vuetify.breakpoint.smAndDown ? 'mobile' : ''">
              Wanna sponsor us?
          </div>
          <div class="hustle-subtitle" :class="$vuetify.breakpoint.smAndDown ? 'mobile' : ''">
              All of our hackathon is made possible by our sponsors, if you want to sponsor us, email us! <a href="mailto:sponsorship@shehacksvt.com">sponsorship@shehacksvt.com</a>
          </div>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    data: () => ({
        sponsorLogos: [
            {name: 'Eastman Chemical', img: 'eastman.png', link: ''},
            {name: 'FI Consulting', img: 'fi_consulting.jpg', link: ''},
            {name: 'Willowtree', img: 'willowtree_full.jpg', link: ''},
            {name: 'Okta', img: 'okta.png', link: ''}
        ]
    })
  }
</script>

<style scoped>
    #sponsorship {
        min-height: 100vh;
        width: 100vw;
    }

    .hustle {
        margin-top: 50px;
        font-family: 'Comfortaa', script;
        font-size: 5vmin;
    }

    .hustle-subtitle {
        font-size: 2vmin;
    }

    
    .hustle.mobile {
        margin-top: 50px;
        font-family: 'Comfortaa', script;
        font-size: 6vmin;
    }

    .hustle-subtitle.mobile {
        font-size: 3.4vmin;
    }
</style>
