<template>
  <v-app id="app" dark>
    <span v-if="!this.$route.path.includes('schedule')">
      <v-toolbar app dense>
        <v-container pa-0 fluid class="hidden-sm-and-down">
          <v-layout align-center justify-center text-xs-center row>
            <v-spacer/>
            <v-flex v-for="(item, index) in menu" :key="index" xs2>
              <a v-if="item.link" :href="item.link" target="_blank">
                <v-btn class="menu-item" @click="scrollTo(item.name)" flat>{{item.name}}<v-icon small class="pa-2">open_in_new</v-icon></v-btn> 
              </a>
              <v-btn class="menu-item" @click="scrollTo(item.name)" flat v-else>{{item.name}}</v-btn> 
            </v-flex>
            <v-spacer/>
          </v-layout>
        </v-container>
        <v-menu class="hidden-md-and-up">
          <v-toolbar-side-icon slot="activator"></v-toolbar-side-icon>
          <v-list>
            <v-list-tile v-for="item in menu" :key="item.icon">
              <v-list-tile-content>
                <a v-if="item.link" :href="item.link" target="_blank">
                  <v-list-tile-title>{{ item.name }}</v-list-tile-title>
                </a>
                <v-list-tile-title @click="scrollTo(item.name)" v-else>{{ item.name }}</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>   
          </v-list>
        </v-menu>
      </v-toolbar>
    </span>
    <v-content>
      <router-view></router-view>
    </v-content>
  </v-app>
</template>

<script>
  export default {
    name: 'App',
    data () {
      return {
        menu: [
          {name: 'About'},
          {name: 'Registration'},
          {name: 'Sponsorship'},
          {name: 'Organizers'},
          {name: 'Schedule', link: 'schedule'}
        ]
      }
    },
    methods: {
      scrollTo: function(component) {
        const el = document.getElementById(component.toLowerCase());

        if (!el) {
          window.location.href = 'localhost:8080/' + component.toLowerCase()
          return
        }
        // 44px is the height of the navigation bar.
        const target = el.offsetTop;
        this.$vuetify.goTo(target + 3, {})
      }
    }
  }
</script>

<style>
  .menu-item {
    border-bottom-width: 1px;
    border-bottom-color: #a0ced3;
  }

  @media (max-width: 959px){  
    .section-title {
      font-size: 9vw;
      font-family: 'Comfortaa', script;
    }
  }

  @media (min-width: 959px){  
    .section-title {
      font-size: 3.5vw;
      font-family: 'Comfortaa', script;
    }
  }

  a {
    text-decoration: none;
  }
</style>
